---
import BaseLayout from "../layouts/BaseLayout.astro";
import BaseTabLayout from "../layouts/BaseTabLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import Card from "../components/Card.astro";
import proj5 from "~/assets/images/project/proj5.png";
import proj1 from "~/assets/images/project/proj1.png";

import video1 from "~/assets/videos/video1.mp4";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div role="tablist" class="tabs tabs-lifted">
    <input
      type="radio"
      name="my_tabs_2"
      role="tab"
      class="tab"
      aria-label="Tab 1"
      --
    />
    <div
      role="tabpanel"
      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
    >
    </div>

    <input
      type="radio"
      name="my_tabs_2"
      role="tab"
      class="tab"
      aria-label="Tab 2"
      checked="checked"
    />
    <div
      role="tabpanel"
      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
    >
      Tab content 2
    </div>

    <input
      type="radio"
      name="my_tabs_2"
      role="tab"
      class="tab"
      aria-label="Tab 3"
    />

    <div
      role="tabpanel"
      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
    >
      Tab content 5
    </div>

  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-12 lg:grid-cols-3">

    <Card
      title="Smoke simulation"
      img={video1}
      desc="Animation done for a online canabis store loading screen. The animation using pure css and javascript"
      url="https://fluid-sim.web.app"
      badge="NEW"
      tags={["CSS", "JS", "Animation"]}
    />

    <div class="divider my-0"></div>
  </div>

</BaseLayout>
